<IfModule mod_headers.c>
	Header set Access-Control-Allow-Origin "*"
	Header set Access-Control-Allow-Methods "GET,PUT,POST,DELETE"
	Header set Access-Control-Allow-Headers "Content-Type, Authorization"
</IfModule>

<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /
	RewriteRule ^index\.html$ - [L]
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-l
	RewriteRule . /index.html [L]
</IfModule>

<IfModule mod_php5.c>
php_value max_input_vars 5000
php_value max_execution_time 300
php_value post_max_size 64M
php_value upload_max_filesize 64M
php_flag display_errors 1
</IfModule>
